.perfil{
    border: 1px solid gray;
    border-radius: 2%;
    display: inline-block;
    margin: 10px;
    border-left: 15px solid navy;
    background-color: lightgrey;
    width: 100%;
}

h2{
    border-radius: 5%;
    font-size: 1.1rem;
    margin: 15px;
}

h3{
    border-radius: 5%;
    font-size: 1.1rem;
    margin: 15px;
}

strong{
    font-size: 0.9rem;
    margin: 15px;
}

p{
    margin: 15px;
}