<!-- app.hmtl-->
<h2>El meu catàleg</h2>
<!--@for (ciutat of ciutats; track ciutat){
    <p>{{ciutat}}</p>
}

@for (ciutat of ciutats; track ciutat; let i = $index){
    <p>{{i+1}}. {{ciutat}}</p>
}

@for (ciutat of ciutats; track ciutat){
    <p>{{ciutat}}</p>
} @empty{
    <p>No hi ha ciutats per mostrar</p>
}-->

@for (producte of productes; track producte.id; let i = $index){
    <p>{{i+1}}. {{producte.nom}}</p>
    <app-tarjeta />
}

<!-- crea un array de minim 5 elements i usa @for per mostrar-ho -->

@for (nom of noms; track nom; let i = $index){
    <p style="background-color: lightblue; border: 3px double yellow; border-radius: 10px;">{{i+1}}. {{nom}}</p>
}

<app-perfil />
<app-perfil />
<router-outlet />
